<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>My Blog</title>
</head>
<body>
    <header>
        <h1>Julius Laux</h1>
    </header>
    
    <div class="container">
        <div class="sidebar">
            <ul class="post-list">
                <li class="post-item">
                    <a href="/" class="current-page">
                        ABOUT
                    </a>
                </li>
                <% Object.keys(posts).forEach(function(id) { %>
                    <li class="post-item">
                        <a href="/blog/<%= posts[id].slug %>">
                            <%= posts[id].title.toUpperCase() %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
        
        <div class="content">
            <h2 class="blog-title">About me</h2>
            <section class="about-content">
                <h3>Chapter One: Football, Gaming </h3>
                
                <p>Played football competitvely, dreamed of becoming a pro. Played a lot of FIFA and made my first money.</p>
                <h3>Chapter Two: Making 10K on the weekends</h3>

                <p>Resold limited sneakers and made first serious money while being 14. Learned that money doesnt make you happy in life.</p>


                <h3>Chapter 3: Getting into Venture</h3>
                <p>After Highschool i wanted to become a consultant. The day after graduation ceremony my first consulting internship started. Then moved from Berlin to Munich to study at TUM and fell in love with startups.   </p>
                <p>LinkedIn: <a href="https://linkedin.com/in/juliuslaux">@juliuslaux</a></p>
                
                <p>Email: <a href="mailto:julius.laux@code.berlin">julius.laux@code.berlin</a></p>
            </section>
        </div>
    </div>
    
    <footer>
        <p>© <%= new Date().getFullYear() %> Julius Laux</p>
    </footer>
</body>
</html>